
#vscode
#.vscode/
*.code-workspace

#Original image data
/data/char/vaki/src/
pack.bat

#clangd
.cache/

#Executable artifacts
/keyconf.bin
*.ini

#build artifacts
/build/
AFGEngine.exe
compile_commands.json


