
#vscode
#.vscode/
*.code-workspace

#Original image data
/data/char/vaki/effect/
/data/char/vaki/vaki/
/data/images/src/
/data/bg/src/

#clangd
.cache/

#Executable artifacts
/keyconf.bin
*.ini

#build artifacts
/build/
/static/
/release/
AFGEngine.exe
compile_commands.json


